<md-sidenav-container fullscreen="">
  <md-sidenav #sidenav mode="side">
    <!-- sidenav content -->
    <md-list>
      <md-list-item><button md-raised-button color="primary">Dashboard</button></md-list-item>
      <md-list-item><button md-raised-button color="primary">Heroes</button></md-list-item>
    </md-list>
  </md-sidenav>

  <div class="app-sidenav-content">
    <button md-raised-button (click)="sidenav.toggle()">Raised button</button>
  </div>

  <!-- primary content -->
</md-sidenav-container>
